Repository scrapy/scrapy, pull requests merged in 2019-06, with the labels that each got.

#3806 Fix a double indexing of the scrapy.statscollectors module in the doc…
  docs/topics/stats.rst
  docs/topics/telnetconsole.rst
Labels: bug, docs

#3812 [MRG+1] Tutorial: scrapy shell example should say "text" not "title" (#3807)
  docs/intro/tutorial.rst
Labels: bug, docs

#3810 Skip scrapy.contracts private APIs in the documentation coverage report
  docs/conf.py
Labels: docs, enhancement

#3739 [MRG+1] Add SCRAPY_CHECK environment variable
  docs/topics/contracts.rst
  scrapy/commands/check.py
  scrapy/utils/misc.py
  tests/test_utils_misc/__init__.py
Labels: enhancement

#3842 Document scrapy.crawler.Crawler.stop()
  docs/topics/api.rst
  scrapy/crawler.py
Labels: docs, enhancement
