Repository scrapy/scrapy, pull requests merged in 2019-11, with the labels that each got.

#4128 Fix typo: specifiy → specify
  scrapy/utils/misc.py
Labels: cleanup

#4142 Set the bases for testing code examples from the documentation
  docs/conftest.py
  pytest.ini
  tests/requirements-py3.txt
  tox.ini
Labels: CI, docs, enhancement

#4139 Improve the details about request serialization requirements for JOBDIR
  docs/topics/jobs.rst
Labels: bug, docs

#4123 Fix LocalCache limit issue, add tests
  scrapy/utils/datatypes.py
  tests/test_utils_datatypes.py
Labels: bug, tests

#4163 Have CI record the 10 slowest tests
  tox.ini
Labels: CI, enhancement

#4162 Add bandit to CI
  .bandit.yml
  .travis.yml
  tox.ini
Labels: CI, enhancement, security

#4157 Add missing whitespace after ‘,’, ‘;’ or ‘:’
  pytest.ini
  scrapy/core/spidermw.py
  tests/test_http_request.py
  tests/test_item.py
  tests/test_linkextractors.py
  tests/test_logformatter.py
  tests/test_utils_conf.py
  tests/test_utils_console.py
  tests/test_utils_misc/__init__.py
Labels: cleanup

#4148 Allow opening the source code from the API documentation
  docs/conf.py
Labels: docs, enhancement

#4147 Use intersphinx for links to the Sphinx documentation
  docs/conf.py
  docs/contributing.rst
Labels: docs, enhancement

#4146 Make tutorial doctests pass
  docs/_tests/quotes1.html
  docs/conftest.py
  docs/intro/tutorial.rst
  pytest.ini
Labels: CI, docs, enhancement

#4152 Install the sphinx-notfound-page Sphinx extension
  docs/conf.py
  docs/requirements.txt
Labels: docs, enhancement

#4169 Include /requirements-py3.txt from /docs/requirements.txt
  docs/requirements.txt
Labels: bug, docs

#4173 Add tooltips to documentation cross-references
  docs/conf.py
  docs/requirements.txt
Labels: docs, enhancement

#4172 Use InterSphinx to link to the Twisted documentation
  docs/conf.py
  docs/contributing.rst
  docs/topics/api.rst
  docs/topics/architecture.rst
  docs/topics/email.rst
  docs/topics/item-pipeline.rst
  docs/topics/media-pipeline.rst
  docs/topics/practices.rst
  docs/topics/request-response.rst
  docs/topics/signals.rst
  scrapy/core/downloader/contextfactory.py
  scrapy/crawler.py
  scrapy/signalmanager.py
Labels: docs, enhancement

#4153 MutableChain: return self from __iter__
  scrapy/utils/python.py
  tests/test_utils_python.py
Labels: cleanup

#4171 Make command doctests pass
  docs/topics/commands.rst
  pytest.ini
Labels: CI, docs, enhancement

#4114 Remove py2 tests
  conftest.py
  pytest.ini
  tests/ignores.txt
  tests/requirements-py3.txt
  tests/test_downloader_handlers.py
  tests/test_linkextractors_deprecated.py
  tests/test_proxy_connect.py
  tests/test_utils_python.py
  tests/test_webclient.py
Labels: Python 3

#4183 Enable sphinx-hoverxref for all references
  docs/conf.py
Labels: docs, enhancement

#4184 Make debug doctests pass
  docs/topics/debug.rst
  pytest.ini
Labels: CI, docs, enhancement

#4185 Use InterSphinx for links to the pytest and tox documentation
  docs/conf.py
  docs/contributing.rst
Labels: cleanup, docs

#4186 Remove unused imports
  pytest.ini
  scrapy/commands/check.py
  scrapy/commands/view.py
  scrapy/core/downloader/__init__.py
  scrapy/core/downloader/handlers/http.py
  scrapy/core/downloader/handlers/s3.py
  scrapy/extensions/httpcache.py
  scrapy/linkextractors/__init__.py
  scrapy/selector/__init__.py
  scrapy/selector/unified.py
  scrapy/spiders/__init__.py
  scrapy/utils/boto.py
  scrapy/utils/console.py
  scrapy/utils/curl.py
  scrapy/utils/engine.py
  scrapy/utils/http.py
  scrapy/utils/markup.py
  scrapy/utils/multipart.py
  scrapy/utils/url.py
  tests/mockserver.py
  tests/test_downloader_handlers.py
  tests/test_downloadermiddleware_httpcache.py
  tests/test_downloadermiddleware_httpcompression.py
  tests/test_downloadermiddleware_httpproxy.py
  tests/test_extension_telnet.py
  tests/test_feedexport.py
  tests/test_http_request.py
  tests/test_pipeline_images.py
  tests/test_robotstxt_interface.py
  tests/test_selector.py
  tests/test_spider.py
  tests/test_spidermiddleware_output_chain.py
  tests/test_spidermiddleware_referer.py
  tests/test_utils_reqser.py
  tests/test_utils_url.py
Labels: cleanup

#3899 [Py3] Item loaders: allow single argument functions as processors
  docs/topics/loaders.rst
  scrapy/loader/__init__.py
  tests/test_loader.py
Labels: Python 3, backward-incompatible, enhancement

#4194 Use InterSphinx for coverage links
  docs/conf.py
  docs/contributing.rst
Labels: CI, docs, enhancement
