Repository scrapy/scrapy, pull requests merged in 2019-07, with the labels that each got.

#3794 [MRG+1] Fix form methods in FormRequest.from_response (#3777)
  scrapy/http/request/form.py
  tests/test_http_request.py
Labels: bug, security

#3609 Document FilesPipeline.file_path and ImagesPipeline.file_path
  docs/topics/media-pipeline.rst
Labels: docs

#3840 [MRG+1] Itemloader errors #3836
  scrapy/loader/__init__.py
  scrapy/loader/processors.py
  tests/test_loader.py
Labels: enhancement

#3860 Skip scrapy.downloadermiddlewares private APIs in the documentation c…
  docs/conf.py
Labels: cleanup, docs

#3861 Increase the documentation coverage of exceptions
  docs/conf.py
  docs/topics/contracts.rst
Labels: cleanup, docs, enhancement

#3866 [MRG+1] Extend the topic about broad crawls with information about memory usage
  docs/topics/broad-crawls.rst
Labels: docs, enhancement

#3882 add instructions about how to define output file when running scrapy …
  docs/topics/practices.rst
Labels: docs, enhancement
