Repository scrapy/scrapy, pull requests merged in 2019-10, with the labels that each got.

#4055 [Doc] Use autoclass in topics/request-response.rst
  docs/topics/request-response.rst
Labels: docs, enhancement

#4056 Fix internal links in the tutorial and release notes
  docs/intro/tutorial.rst
  docs/news.rst
  docs/topics/items.rst
  docs/topics/settings.rst
Labels: bug, docs

#4089 Updating link for miniconda
  docs/intro/install.rst
Labels: bug, docs

#4091 Initial Python 2 removal
  .travis.yml
  README.rst
  docs/faq.rst
  docs/intro/install.rst
  docs/topics/feed-exports.rst
  docs/topics/leaks.rst
  docs/topics/media-pipeline.rst
  docs/topics/request-response.rst
  docs/topics/settings.rst
  docs/topics/spiders.rst
  requirements-py2.txt
  scrapy/__init__.py
  setup.py
  tests/requirements-py2.txt
  tox.ini
Labels: Python 3, backward-incompatible

#4112 Remove LevelDB support
  scrapy/extensions/httpcache.py
  tests/requirements-py3.txt
  tests/test_downloadermiddleware_httpcache.py
Labels: cleanup

#4095 Use communicate() instead of wait() after killing the mock server
  tests/mockserver.py
Labels: CI, bug
