Repository scrapy/scrapy, pull requests merged in 2022-07, with the labels that each got.

#5554 [doc] Remove incompatible web service project
  docs/index.rst
  docs/topics/webservice.rst
Labels: docs

#5553 Fix doc: `scrapy.exporter` to `scrapy.exporters`
  docs/topics/exporters.rst
Labels: bug, docs

#4978 Support for async callbacks
  docs/index.rst
  docs/topics/asyncio.rst
  docs/topics/components.rst
  docs/topics/coroutines.rst
  docs/topics/spider-middleware.rst
  pylintrc
  scrapy/core/scraper.py
  scrapy/core/spidermw.py
  scrapy/middleware.py
  scrapy/spidermiddlewares/depth.py
  scrapy/spidermiddlewares/offsite.py
  scrapy/spidermiddlewares/referer.py
  scrapy/spidermiddlewares/urllength.py
  scrapy/utils/asyncgen.py
  scrapy/utils/defer.py
  scrapy/utils/python.py
  scrapy/utils/spider.py
  scrapy/utils/test.py
  tests/spiders.py
  tests/test_crawl.py
  tests/test_spidermiddleware.py
  tests/test_spidermiddleware_output_chain.py
  tests/test_utils_asyncgen.py
  tests/test_utils_defer.py
  tests/test_utils_python.py
  tests/test_utils_request.py
  tox.ini
Labels: enhancement, asyncio
